@page
@using SatStackerWeb.Models.Enums
@model SatStackerWeb.Pages.Transaction.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>EntityTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntityTransaction.Type" class="control-label"></label>
                <select asp-for="EntityTransaction.Type" class="form-control" asp-items="Html.GetEnumSelectList<TransactionType>()"></select>
                <span asp-validation-for="EntityTransaction.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntityTransaction.Date" class="control-label"></label>
                <input asp-for="EntityTransaction.Date" class="form-control" />
                <span asp-validation-for="EntityTransaction.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntityTransaction.Amount" class="control-label"></label>
                <input asp-for="EntityTransaction.Amount" class="form-control" />
                <span asp-validation-for="EntityTransaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntityTransaction.ValuePerUnitinEuros" class="control-label"></label>
                <input asp-for="EntityTransaction.ValuePerUnitinEuros" class="form-control" />
                <span asp-validation-for="EntityTransaction.ValuePerUnitinEuros" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
